@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --whisper: #efecec;
  --fox-red: #fc6736;
  --sundown: #ffb0b0;
  --ambassador-blue: #0c2d57;
  --darker-ambassador-blue: #091e3d;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--whisper);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

label {
  margin-bottom: 2vh;
}

input {
  position: relative;
  top: 0;
  width: 95%;
  padding: 0.25vh 0.25vw;
  background-color: transparent;
  color: var(--ambassador-blue);
  caret-color: var(--ambassador-blue);
  border: none;
  border-bottom: 0.125vh solid var(--ambassador-blue);
  transition: width 0.125s ease-out;
}

input:focus {
  width: 100%;
  outline: none;
}

button {
  padding: 1.25vh;
  margin-top: 2.5vh;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 0.25vw;
  transition: all 0.125s ease-out;
}

footer {
  background-color: var(--ambassador-blue);
}

.card {
  width: 22.5vw;
}

.card-img-top {
  height: 32.5vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6.card-title {
  height: 15vh;
  font-weight: bold;
}

.source-button {
  margin-bottom: 2.5vh;
}

.source-button,
#get-weather-forecast-btn {
  width: 17.5vw;
  background-color: var(--ambassador-blue);
  color: white;
  border: 0.0625vw solid var(--ambassador-blue);
}

.source-button:hover,
#get-weather-forecast-btn:hover {
  background-color: white;
  color: var(--ambassador-blue);
  border: 0.0625vw solid var(--ambassador-blue);
  box-shadow: 0 1.25vh var(--darker-ambassador-blue);
}

.source-button:active,
#get-weather-forecast-btn:active {
  box-shadow: 0 0.875vh var(--darker-ambassador-blue);
}

.weatherConditionDescription {
  width: 75%;
  margin: 0;
  text-align: center;
}

.weatherConditionIcon {
  width: 25%;
}

#forecast-title {
  margin-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#weather-conditions-params {
  width: 100%;
}

#weather-form {
  width: 25vw;
  height: 50vh;
  padding-top: 5vh;
}

#weather-input-container {
  width: 20vw;
}

#forecast-block {
  display: none;
}

#forecast-block > div {
  margin-top: 5vh;
}

#forecast-block > div > div {
  margin-top: 2.5vh;
}

#forecast-block p {
  width: 15vw;
}

#map-container {
  margin: 2.5vh 0;
}

#map {
  position: relative;
  width: 87.5vw;
  height: 50vw;
  display: none;
}

#news-block {
  display: none;
  margin-top: 5vh;
}

#news-container {
  flex-wrap: wrap;
  gap: 5vw;
  padding: 5vh 0;
}

#news-title {
  font-weight: bold;
}

@media (max-width: 576px) {
  .card {
    width: 75vw;
  }

  h6.card-title {
    height: auto;
  }

  .source-button {
    width: 25vw;
    margin: 1.25vh 0 0.25vh;
  }

  #weather-form {
    width: 100vw;
  }

  #weather-input-container {
    width: 75%;
  }

  #get-weather-forecast-btn {
    width: 62.5%;
  }

  #forecast-block {
    width: 100vw;
  }

  #forecast-block > div,
  #forecast-block > div > div > div {
    width: 100%;
  }

  #forecast-block > div > div {
    width: 75%;
  }

  #forecast-block > div > div > div > p {
    width: 70%;
  }

  #forecast-block > div > div > div > b {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
}
